.side-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.side-nav__item {
  display: block;
  border-bottom: 1px solid $color-light-grey;
  padding: 1rem;
  color: inherit;
  text-decoration: none;

  transition: .3s;
}

.side-nav__item:hover {
  opacity: .5;
}

.side-nav__item span.fa {
  display: inline-block;
  width: 2rem;
  margin-right: 1rem;
  text-align: center;
}
