.sign-form__group {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.sign-form__input {
  width: 100%;
  padding: 0.5rem;
  color: $color-grey;
  box-sizing: border-box;
}

.validation-message {
  padding: .5rem;
  color: $color-error;
}

.button {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: .5rem;
  color: $color-light;
  font-weight: 600;
  box-sizing: border-box;
}

.btn-reg {
  background-color: $color-reg;
}

.btn-log {
  background-color: $color-log;
}

.btn-reg:hover {
  background-color: darken($color-reg, 10%);
}

.btn-log:hover {
  background-color: darken($color-log, 10%);
}

.btn-reg:active {
  background-color: lighten($color-reg, 10%);
}

.btn-log:active {
  background-color: lighten($color-log, 10%);
}