.newsList__item {
  display: block;
  padding: .5rem;
  border: 2px solid #dddddd;
  border-top: none;
}

.newsList__link {
  display: block;
  color: $color-grey;
  text-decoration: none;
}

.newsList__title {
  font-size: $s-size;
}

.transition__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.transition__wraper {
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-100%);
  transition: .3s ease-in;
}

.transition__wraper-active {
  opacity: 1;
  transform: translate(0);
}