.newsList__item {
  display: block;
  padding: .5rem;
  border: 2px solid $color-light-grey;
  border-top: none;
}

.newsList__link {
  display: flex;
  color: $color-grey;
  text-decoration: none;
}

.newsList__title {
  font-size: $s-size;
}

.transition__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.transition__wraper {
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-100%);
  transition: .3s ease-in;
}

.transition__wraper-active {
  opacity: 1;
  transform: translate(0);
}

.news-list__image {
  width: 20%;
  min-height: 6rem;
  margin-right: 0.5rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-list__desc--width {
  width: 80%;
}