html {
  font-size: 62.5%;
}

body {
  background-color: $color-light;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: no-drop;
}