//COLORS
$color-black: #20222b;
$color-light-grey: #dbdbdb;
$color-grey: #5c5c5c;
$color-light: #fff;
$color-blue: #4649d1;
$color-light-blue: #6668ad;
$color-error: #b44040;
$color-reg: #1673ec;
$color-log: #63eb2e;

//SPACING
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ms-size: 1.4rem;
$msl-size: 2rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;